
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html,
body {
  margin: 0 auto;
  height: 100%;
}

pre {
  padding: 0;
  margin: 0;
}

.load {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  background: black;
}

.term {
  font-family: monospace;
  color: #fff;
  opacity: 0.8;
  font-size: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.term:after {
  content: "_";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.line-1
{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter
{
  animation: typewriter 4s steps(64) 1s 1 normal both,
             blinkTextCursor 500ms steps(32) infinite normal;
}

.wip_message{
  animation-delay: 10s;
}

@keyframes typewriter
{
  from{width: 0;}
  to{width: 19em;}
}

@keyframes blinkTextCursor
{
  from{border-right-color: rgba(0 , 0, 0,.75);}
  to{border-right-color: transparent;}
}
